@font-face {
  font-family: 'Avenir Next';
    src: url(../fonts/avenir/e9167238-3b3f-4813-a04a-a384394eed42.eot?#iefix);
    src: url(../fonts/avenir/e9167238-3b3f-4813-a04a-a384394eed42.eot?#iefix) format('eot'), url(../fonts/avenir/1e9892c0-6927-4412-9874-1b82801ba47a.woff) format('woff'), url(../fonts/avenir/46cf1067-688d-4aab-b0f7-bd942af6efd8.ttf) format('truetype'), url(../fonts/avenir/52a192b1-bea5-4b48-879f-107f009b666f.svg#52a192b1-bea5-4b48-879f-107f009b666f) format('svg');
}

html {
    height: auto;
    margin: 0!important;
    padding: 0!important;
    width: 308px !important;
    overflow: hidden !important;
}

body {
  height: auto;
  margin: 0!important;
  padding: 0!important;
  background-color: #fff;
  color: #999999;
}

div {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

form { margin: 0; padding: 0; }

input, body, html, div {
    font-family: 'Avenir Next', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.clear { clear: both; }
.hide { display: none;}
.float_left { float: left; }
.float_right { float: right; }

#wrapper {
    cursor: default;
}

#toolbar {
    background-color: #efefef;
    padding: 10px 9px;
    color: #00953c;
    font-size: 9px;
    line-height: 15px;
    background-image: url(../images/disconnect/D.png);
    background-repeat: no-repeat;
    background-position: 10px 8px;
    background-size: 23px 20px;
}

#toolbar span{
  margin-left: 30px;
  font-size: 1.3em;
}

#toolbar a { 
    text-decoration: none;
    cursor: pointer;
    font-size: 1.1em;
}
#toolbar a:hover {
    color: #333;
}

#toolbar #toolblinks {
    float: right;
}
#toolbar #toolblinks a {
    margin-left: 5px;
}

#main {
  z-index: 1;
  padding: 0;
}

#search-input {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 1px;
}

#icons-show {
  cursor: pointer;
  margin-top: 3px;
  line-height: 10px;
  background-color: white;
  padding-top: 15px;
  padding-bottom: 20px;
  font-size: .8em;
  margin-left: 2px;
  margin-right: 2px;
}

.switch-cp { 
  width: 50px; 
  position: relative; 
  margin-left: 20px; 
  background-color: gray;
  cursor: pointer; 
  margin-top: -4px;
}

.switch-cp span { 
  font-size: 9px; 
  color: #fff; 
  display: block; 
  float: left;
  width: 25px; 
  height: 18px;
  text-align: center; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.switch-cp span:first-child {  }
.switch-cp span:last-child {  }
.switch-cp img { position: absolute; top: -2px; left: 0; }

.dropdown-cp {
  display: block;
  cursor: pointer;
  font-size: .8em;
}

.dropdown-cp img {    
    float: right;
    margin: 2px 21px 0 0;
    -webkit-transform: rotate(29deg);
}

#options-label{
  padding-left: 20px;
  padding-top: 11px;
}

.dropdown-cp .options {
  padding: 0;
  margin: 0;
}

.dropdown-cp .options li {
  margin: 0; 
  font-size: 1em;
  list-style: none; 
  text-align: left;
  padding-top: 12px;
  padding-bottom: 12px;
  text-indent: 8px;
  background-color: white;
  padding-left: 12px;
}

ul {
  padding: 0px 20px 0px 20px;
}

.dropdown-cp .options li:first-child { 
  margin-top: 0px !important;
}

.dropdown-cp .options li:last-child { 
  margin-bottom: 0px !important;
}

.dropdown-cp .options li:hover {    
    background-color: #efefef;
}

.dropdown-cp .options li.active { 
  background-color: #30a96a; 
  color: #fff; 
}

.droptop {
  display: block;
  background-color: #f7f7f7 !important;
  height: 36px;
}

#black {
  z-index: 3;
  line-height: 0px;
  background-color: #2b2b2b;
  padding-top: 8px;
  padding-left: 10px;
  height: 52px;
  font-size: 11px;
}
.icons { 
  position: absolute;
  padding-top: 13px;
  width: 100%;
  left: 0;
}

.icons ul { 
  margin: 0 auto; 
  padding: 0;
  width: 282px;
}

.icons ul li { 
  display: inline; 
  margin-right: 6px;
}

.icons ul li:last-child {
  margin-right: 0;
}

::-webkit-input-placeholder { /* WebKit browsers */
  color: #aba9a9;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #aba9a9;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #aba9a9;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #aba9a9;
}

.sharing {
  color: #efefef;
  white-space: nowrap;
  cursor: default
}
.sharing td { padding-left: 5px }
.sharing td:first-child { padding-left: 0 }

.icon_desc {
  font-size: .15em;
}

.current-site {
  cursor: pointer;
}

#txt_search {
  background-image: url(../images/find.png);
  background-position: 273px 5px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  color: #000000;
  height: 28px;
  width: 300px;
  text-indent: 10px;
  font-size: 12px;
}

#txt_search:focus{
  outline-style:none;
  box-shadow:none;
  border-color:transparent;
  border:1px solid green
}

#txt_search:not(:focus){
  outline-style:none;
  box-shadow:none;
  border-color:transparent;
  border:1px solid green;
}

#icons_help {
  position: absolute;
  width: 100%;
  top: 87px;
  background-color: #fff;
  color: #00953c;
}

#icons_help #ih_wrapper {
  width: 290px;
  margin-left: 9px;
  background-color: white;
  box-shadow: 5px 0 5px -5px #CCC, 0 5px 5px -5px #CCC, -5px 0 5px -5px #CCC;
}